.cp-sidebar {

  a {
    color: #545454;
    &:hover { color: #000000; }
  }

  .dropdown-toggle {
    display: flex;
    align-items: center;

    .dt-avatar-info {
      margin: 5px 0 0 10px;
    }

    &::after {
      display: none;
    }
  }

  .dt-side-nav__link:hover {
    cursor: pointer;
    color: #000000;
  }
}