server/node_modules
server/config/keys.js
.idea
server/uploads/avatars/*
!server/uploads/avatars/default
server/uploads/covers
server/uploads/images
server/uploads/thumbnails
server/uploads/videos
deploy.sh
*.md