.page-signin {
  
  .dt-login__bg-section::before {
    background-color: #222222;
  }
  
  .dt-app-login--container .dt-login__content-wrapper {
    max-width: 420px;
  }
  
  .dt-login__content {
    width: 100%;
  }
  
}